// ----------- COLORS

$orange-primary-color: #fb7413;
$white: #ffffff;
$light-grey: #959eac;
$medium-grey: #7c8798;
$dark-blue: #252d37;
$very-dark-blue: #121417;

// ----------- SPACE UTILITIES

.margim-bottom-big {
  margin-bottom: 3rem;
}

.margin-top-medium {
  margin-top: 2rem;
}

.margin-top-big {
  margin-top: 3rem;
}

// ------------ MIXINS

@mixin cursor-pointer-color-white {
  color: $white;
  cursor: pointer;
}
