p {
  word-spacing: 1px;
  line-height: 1.5;
  color: $medium-grey;
  max-width: 35rem;
}

button {
  display: inline-block;
  align-self: stretch;
  padding: 1.5rem;
  color: $white;
  font-size: 1.6rem;
  border-radius: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: none;
  background-color: $orange-primary-color;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background-color: $white;
    color: $orange-primary-color;
  }
}

.star-icon {
  background-color: rgba($medium-grey, 0.212);
  border-radius: 100%;
  padding: 1.5rem;
}

.rating {
  &-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $very-dark-blue;
    position: relative;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: start;
      color: $white;
      background-color: $dark-blue;
      padding: 3rem;
      border-radius: 5rem;
    }
  }
}

.rating-values {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.ratings {
  display: flex;
  justify-content: space-between;

  & label {
    color: $light-grey;
    font-weight: 700;
    font-size: 1.6rem;
    position: relative;
    border-radius: 50%;

    & span {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    & input[type='radio'] {
      display: flex;
      appearance: none;
      border: none;
      background-color: rgba($medium-grey, 0.212);
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      transition: all 0.2s;
    }

    &:hover > input[type='radio'] {
      @include cursor-pointer-color-white;
      background-color: $light-grey;
    }

    & input[type='radio']:checked {
      @include cursor-pointer-color-white;
      background-color: $orange-primary-color;
    }

    &:hover > span,
    & input[type='radio']:checked + span {
      @include cursor-pointer-color-white;
    }
  }
}
